data_raw
data_json
data_raw_bak
data_csv
data*
data_bak
output_test
israel-prices-data
israel-prices-browser
*/target
/target
images
chains.json
prices.json
item_infos.json
shufersal_metadata.json
log.txt
*.sqlite
*.bak
*.json
*.txt