<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        .part {
            width: 200px;
            display: inline-block;
        }

        .fixed {
            position: fixed;
            left: 0;
            padding: 20px;

        }
    </style>
    <script>
        $(document).ready(() => {
            $("#compare_button").click(() => {
                console.log("clicked!");
                let checked = $('.store_checkbox:checkbox:checked');
                if (checked.length < 2) {
                    console.log("You need ot check at least two stores");
                    return;
                }
                document.location.href = "/compare/" + checked[0].id + "/" + checked[1].id + "?name1=" + checked[0].getAttribute("data-str") + "&name2=" + checked[1].getAttribute("data-str");
            });

        })
    </script>
</head>

<body>
    <div class="fixed"><button id="compare_button">Compare</button><br />
        <p> chain_id: {{chain_id}}</p>
        <p> subchain_id: {{subchain_id}}</p>
        <p> chain_name: {{chain_name}}</p>
        <p> subchain_name: {{subchain_name}}</p>
        <p> store_id: {{store_id}}</p>
        <p> store_name: {{store_name}}</p>
        <p> city: {{city}}</p>
    </div>

    <p style="float: right">
        {% for item in items %}
        <span class="part">{{item.name}}</span>
        <span class="part">{{item.price}}</span>
        <br />

        {% endfor %}
    </p>
    <div style="direction: rtl;">
    </div>
</body>

</html>